/* FONTS */
@import url(../css/clash-display.css);

/* VARIABLES */
:root {
    --c-dark: #212529;
    --c-brand: #2AA9AA;
    --c-brand-light: #2AA9AA;
    --c-brand-rgb: 78, 87, 212;
    --c-body: #727272;
    --font-base: "ClashDisplay", sans-serif;
    --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
    --transition: all 0.5s ease;
}

/* RESET & HELPERS */
body {
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 600;
    color: var(--c-dark);
}

a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brand-light);
}

/* .a-contact {
    text-decoration: none;
    color: var(--c-brand);
   
}

.a-contact:hover {
    color: var(--c-brand-light);
} */

.a-prod {
    text-decoration: none;
    /* color: var(--c-brand); */
    /* transition: var(--transition); */
}

.a-prod:hover {
    text-decoration: none;
    color: white; 
}

.a-policy {
    text-decoration: none;
    color: var(--c-body)
}

.a-policy:hover {
    color: var(--c-brand-light);
}

img {
    max-width: 100%;
    height: auto;
}

.img-cover {
    object-fit: cover;
    object-position: center;
}

.section-padding {
    padding-top: 50px;
    padding-bottom: 120px;
}

.section-padding-about {
    padding-top: 90px;
    padding-bottom: 90px;
}

.section-padding-prod {
    padding-top: 50px;
}

.section-padding-description {
    padding-bottom: 3px;
}

.section-padding-policy {
    padding-top: 50px;
    padding-bottom: 50px;
}

.theme-shadow {
    box-shadow: var(--box-shadow);
}

/* IMAGE ZOOM */
.image-zoom {
    position: relative;
    /* overflow: hidden; */
}

.image-zoom-wrapper {
    overflow: hidden;
    position: relative;
}

.image-zoom-wrapper img {
    transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
    transform: scale(1.1);
}


/* NAVBAR */
.navbar {
    box-shadow: var(--box-shadow);
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: var(--c-dark);
}

.navbar-nav .nav-link.active {
    color: var(--c-brand);
}


/* BTN */
.btn-prod {
    font-weight: 600;
    font-size: 14px;
    border-radius: 0;
    padding: 10px 24px;
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    color: white;
}

.btn {
    font-weight: 600;
    font-size: 14px;
    border-radius: 0;
    padding: 10px 24px;
}

.btn-brand {
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    color: white;
}

.btn-brand:hover {
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: white;
}

figure {
    width: 90%;
    min-width: 17.5em;
    margin: 0 auto;
}

figcaption {
    font: 120% sans-serif;
    text-align: center;
}

.boxVideo {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    margin: 0 auto;
}

.boxVideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Animate the size,
outside .pulse:hover,
.pulse:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
} */


/*Contato*/

.formulario {

    max-width: 650px;
    text-align: center;
    margin: 20px auto;

}

.formulario input,
form textarea {

    border: 0;
    outline: 0;
    padding: 0.8em;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 16px;
    font-family: 'open_sansregular';
    font-size: 16px;
    color: #424242;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    resize: none;
}

.formulario input:focus,
.formulario textarea:focus {

    color: #2AA9AA;
    -moz-box-shadow: 0 0px 2px #2AA9AA !important;
    -webkit-box-shadow: 0 0px 2px #2AA9AA !important;
    box-shadow: 0 0px 2px #2AA9AA !important;

}

.formulario .btn-submit {

    color: #fff;
    background: #2AA9AA;
    cursor: pointer;
    transition: 0.5s;

}

.formulario .btn-submit:hover {

    background-color: #424242;
    -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
    -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
    box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);

}

.formulario textarea {

    height: 174px;

}

.metade {

    float: left;
    width: 48%;
    margin-bottom: 1em;

}

.right {
    width: 50%;
}

.left {
    margin-right: 2%;
}

@media (max-width: 768px) {

    .metade {
        width: 100%;
        float: none;
        margin-bottom: 0;
    }

}

/* HERO */
#hero {
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.507), rgba(var(--c-brand-rgb), 0.438)), url(../images/capa-3.jpg);
    background-position: center;
    background-size: cover;
}


/* SECTION TITLE */
.section-title {
    margin-bottom: 60px;
}

.section-title .line {
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}


/* ICONBOX */
.iconbox {
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--c-brand-rgb), 0.1);
    color: var(--c-brand);
    font-size: 34px;
    flex: none;
}

/* SERVICE */
.service {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.service::after {
    content: "";
    width: 40px;
    height: 40px;
    background: rgba(var(--c-brand-rgb), 0.2);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}


.service:hover::after {
    width: 100%;
    height: 100%;
    background: var(--c-brand);
    z-index: -1;
}

.service:hover h5,
.service:hover p {
    color: white;
}

.service:hover .iconbox {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

/* CARD PRODUCTS */
.service-prod {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    /* z-index: 2; */
}

.service-prod::after {
    content: "";
    width: 20px;
    height: 20px;
    /* background: rgba(var(--c-brand-rgb), 0.2); */
    position: absolute;
    bottom: 0;
    right: 0;    
    /* transition: var(--transition); */
}


.service-prod:hover::after {
    width: 100%;
    height: 100%;
    background: var(--c-brand);
    z-index: -1;
}

.service-prod:hover h5,
.service-prod:hover p {
    color: white;
}

.service-prod:hover .iconbox {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.service_focused {
    background-color: #2AA9AA;
    background-position: right top;   
    color: #FFF;
  }

/*PRODUTOS*/
/* .project-option-boxes {
    display: inline-block;
    border: 1px solid #2AA9AA;
    padding: 20px 0px;
    margin: 12px 20px 12px 0px;
    width: 30%;
    text-align: center;
    font-size: 1.2em;
    color: #2AA9AA;
    cursor: pointer;
  }
  .project-option-boxes:hover {
    background-color: #2AA9AA;
    color: #FFF;
  }
  .box_focused {
    background-color: #2AA9AA;
    background-position: right top;   
    color: #FFF;
  } */

/* ABOUT */
#about {
    /* background: linear-gradient(rgba(var(--c-brand-rgb), 0.8), rgba(var(--c-brand-rgb), 0.8)); */
    background-color: #DCDFFD;
    background-position: center;
    background-size: cover;
}

/* PORTFOLIO */
.portfolio-item .iconbox {
    background-color: var(--c-brand);
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.portfolio-item:hover .iconbox {
    opacity: 1;
    top: 50%;
}

/* REVIEW */
.review small {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--c-brand);
}

.review-head {
    position: relative;
}

.review-head::after {
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: -14px;
    background-color: white;
    transform: rotate(45deg);
}

/* TEAM */
.team-member-content {
    background-color: var(--c-brand);
    position: absolute;
    bottom: -24px;
    left: 50%;
    width: calc(100% - 50px);
    transform: translateX(-50%);
    padding: 24px;
    transition: var(--transition);
    opacity: 0;
}

.team-member:hover .team-member-content {
    opacity: 1;
    bottom: 24px;
}

/* CONTACT */
/* #contact {
    position: relative;
    z-index: 2;
}

#contact::after {
    content: "";
    width: 100%;
    height: 70%;
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.8), rgba(var(--c-brand-rgb), 0.8)), url(../images/counter.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#contact .form-control {
    border-radius: 0;
}

#contact .form-control:focus {
    box-shadow: none;
    border-color: var(--c-brand);
} */

/*BTN SCROLL BACK TOP*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    color: #727272;
    cursor: pointer;
    padding: 15px;
    border-color: #727272;
    border-radius: 10px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: #2AA9AA;
    color: white;
}
.i-BtnTop {
   font-size: 1.5em;
}

/* FOOTER */
footer {
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #2AA9AA;
}

.footer-top {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
}


footer li,
footer p,
footer a {
    color: white;
    /* color: rgba(255, 255, 255, 0.7); */
}

footer ul {
    list-style: none;
    padding: 0;
}

footer .line {
    width: 40px;
    height: 4px;
    background-color: var(--c-brand);
    margin-top: 12px;
    margin-bottom: 24px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--c-brand);
    border-radius: 100px;
    color: white;
}

.social-icons a:hover {
    background-color: var(--c-brand);
    color: white;
}